/* .custom-navbar {
    background-image: linear-gradient(
        to right,
        #3a1cb1 50%,
        #19244d 99%,
        #19244d,
        #182548
    );
}

.navbar-item .navbar-brands {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar-item .navbar-menu,
.navbar-item .action {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-item .navbar-menu a {
    color: rgb(194, 192, 192);
    text-decoration: none;
}

.navbar-item .navbar-menu a.active {
    color: white;
    text-decoration: none;
}

.navbar-item .action a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.navbar-item .action a.masuk {
    background-color: white;
    padding: 5px 15px;
    color: #3a1cb1;
} */

.custom-navbar {
    background-image: linear-gradient(
        to right,
        #3a1cb1 50%,
        #19244d 99%,
        #19244d,
        #182548
    );
    display: flex;
    justify-content: space-between !important;
}

.custom-navbar .navbar-item {
    flex: 1;
    display: flex;
}

.custom-navbar .navbar-item:first-child a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.custom-navbar .navbar-item:nth-child(2) {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.custom-navbar .navbar-item:nth-child(2) a.active {
    color: white;
    text-decoration: none;
}

.custom-navbar .navbar-item:nth-child(2) a {
    color: rgb(194, 192, 192);
    text-decoration: none;
}

.custom-navbar .navbar-item:last-child {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.custom-navbar .navbar-item:last-child .masuk {
    background-color: white;
    padding: 5px 15px;
    color: #3a1cb1;
}
